@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ececec;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  background-color: #f5f5f5a6;
  font-family: "Poppins", sans-serif;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
body #container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #container header {
  margin-bottom: 10px;
  text-align: center;
}
body #container header h1 {
  font-size: inherit;
  color: #9772ff;
}
body #container #container-form {
  background-color: white;
  box-shadow: 0px 3px 6px 0px #a5a5a5ad;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-areas: "img img form form form";
}
body #container #container-form .vektor-img {
  border-right: 1px solid #a5a5a5ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: img;
  text-align: center;
  text-size: inherit;
}
body #container #container-form .vektor-img img {
  max-width: 100%;
  height: auto;
}
body #container #container-form #form-div {
  grid-area: form;
  overflow: scroll;
  padding: 20px;
}
body #container #container-form #form-div #survey-form {
  line-height: 30px;
}
body #container #container-form #form-div #survey-form .important-question {
  color: red;
}
body #container #container-form #form-div #survey-form #description {
  text-align: center;
  color: #5f5f5ffd;
}
body #container #container-form #form-div #survey-form .input-box {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: inherit;
  box-sizing: border-box;
}
body #container #container-form #form-div #survey-form .text-area {
  border: 1px solid #b3b3b3;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  box-sizing: border-box;
}
body #container #container-form #form-div #survey-form .form-section {
  margin-top: 20px;
  margin-bottom: 10px;
}
body #container #container-form #form-div #survey-form .submit-section {
  display: flex;
  justify-content: flex-end;
}
body #container #container-form #form-div #survey-form .submit-section #submit {
  border: 3px solid #9772ff;
  border-radius: 2px;
  background-color: transparent;
  width: 100px;
  height: 35px;
  color: #9772ff;
  font-weight: bold;
}
body #container #container-form #form-div #survey-form .submit-section #submit:hover {
  border: 3px solid #9772ff;
  background-color: #9772ff;
  color: white;
}

@media (max-width: 995px) {
  body #container {
    margin: 10px;
    width: 100%;
  }
  body #container #container-form {
    grid-template-areas: "img img form form form";
  }
}
@media (max-width: 550px) {
  body #container {
    margin: 0;
  }
  body #container #container-form {
    height: 100%;
    box-shadow: 0 0 0 0 transparent;
    grid-template-columns: 1fr;
    grid-template-areas: "form";
  }
  body #container #container-form .vektor-img {
    border-radius: 0;
    position: absolute;
    bottom: 10000px;
  }
}

/*# sourceMappingURL=style.css.map */
